@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 600px;
    height: 300px;
}

.container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    width: 100%;
}

nav {
    text-transform: uppercase;
}

#shola {
    animation: aniSola 8s ease-in-out alternate-reverse backwards infinite;
}

@keyframes aniSola {
    0% {
        color: white;
    }
    25% {
        color: violet;
    }
    50% {
        color: greenyellow;
    }
    75% {
        color: orange;
    }
    100% {
        color: dodgerblue;
    }
}

.wrapper {
  width: 100%;
  height: 100%;
}

.transition {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: white;
  transform: scaleY(0);
}


.header-revealer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

.header-revealer:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 110%;
  height: 110%;

}

/* BURGER MENU */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
