@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 600px;
    height: 300px;
}

.container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    width: 100%;
}

nav {
    text-transform: uppercase;
}

#shola {
    animation: aniSola 8s ease-in-out alternate-reverse backwards infinite;
}

@keyframes aniSola {
    0% {
        color: white;
    }
    25% {
        color: violet;
    }
    50% {
        color: greenyellow;
    }
    75% {
        color: orange;
    }
    100% {
        color: dodgerblue;
    }
}

.wrapper {
  width: 100%;
  height: 100%;
}

.transition {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: white;
  transform: scaleY(0);
}


.header-revealer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}

.header-revealer:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 110%;
  height: 110%;

}